@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
:root {
  --color-primary: #ffeeff;
  --color1: rgb(117, 0, 255);
  --color2: rgb(223, 0, 225);
  --hero-bg: url(./../img/hero-bg.svg);
  --hero-bg2: url(./../img/hero-bg-img2.png);

  --font1: "Red Hat Display", sans-serif;
  --banner-font: "PT Serif", serif;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: #fff;
  font-family: var(--font1);
}
.bg-lb-primary {
  background-color: var(--color-primary);
}

/*=============== Background of Navbar ===========*/
/* .bg-glass {
  background: rgba(248, 248, 248, 0.64);
  box-shadow: 0px 0.5px 20px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
} */
.main-navigation {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}
.fw-nav {
  font-weight: 600;
}
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}
.course-site-btn {
  color: var(--color1);
  transition-duration: 0.2s;
  background: linear-gradient(
    108.58deg,
    var(--color1) 0%,
    var(--color2) 120.09%
  );
  color: white;
  font-size: 0.9rem;
}

.course-site-btn:hover {
  background: linear-gradient(
    108.58deg,
    rgb(149, 64, 247) 0%,
    rgb(251, 113, 253) 120.09%
  );
  color: white;
}
.analytics-site-btn {
  color: rgba(0, 0, 0, 0.55);
  font-size: 0.9rem;
  border: 1px solid rgb(170, 170, 170);
}

.analytics-site-btn:hover {
  /* background-color: rgb(247, 247, 247); */
  border: 1px solid rgb(71, 71, 71);
}

/*========== Hero Section =========*/

.hero-bg {
  /* background-image: var(--hero-bg2); */
  /* max-height: calc(100vh - 116px); */
  min-height: 600px;
  /* background-size: 85%;
  background-repeat: no-repeat;
  background-position: right; */
}
@media (max-width: 992px) {
  .hero-bg {
    /* background-image: url(./../img/mobile-herobg-2.png); */

    background-repeat: no-repeat;
    background-position: bottom right;
  }
}

/*======= All Section Title ======*/
.sec-top {
  min-height: 10vh;
}
@media (max-width: 992px) {
  .sec-top {
    min-height: 8vh;
  }
}
.sec-header {
  content: "";
  display: inline-block;
  text-align: center;
  margin: 0 12px 12px 12px;
  width: 6rem;
  height: 0.5rem;
  background: var(--color2);
  border-radius: 20px;
}
/*====== wave animation ======*/
/* .wave-section {
  width: 100%;
  height: 100px;
}
.wave {
  width: 100%;
  height: 100px;
}
.wave.wave1 {
  background: url(./../img/wave1.svg);
  animation: animate 30s linear infinite alternate;
}
.wave.wave2 {
  background: url(./../img/wave2.svg);
  animation: animate 30s linear infinite alternate;
}
@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1000px;
  }
} */
/*===== What we offer section =====*/
.offer-img-block {
  height: 255px;
  width: 300px;
}
.offer-card {
  max-width: 310px;
  padding: 10px;
}

/*====== parallax banner =======*/
.parallax {
  background-image: url("../img/pexels-bess-hamiti-35188.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.banner-sec {
  margin-top: 15vh;
  margin-bottom: 10vh;
  font-family: var(--banner-font);
}
.banner {
  min-height: 40vh;
}

/*======== Team Slider =========*/
.slider-width {
  width: calc(100vh-50px) !important;
}
.team-img-block {
  height: 100px;
  width: 105px;
}
.team-img-card {
  border-radius: 50px;
  min-height: 38vh;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  /* box-shadow: 11px 11px 25px #dddee2, -11px -11px 25px #f9fafe; */
  box-shadow: 20px 20px 60px #c8c9cc, -20px -20px 60px #ffffff;
  /* box-shadow: 28px 28px 60px #c7c7c7, -28px -28px 60px #ffffff; */
}
.sec-height {
  max-height: calc(100vh);
  min-height: 600px;
}

/*======== Login Page =========*/
.login-card {
  border-radius: 20px;
  background: #ffffff;
  /* box-shadow: 20px 20px 30px #d9d9d9, -20px -20px 30px #ffffff; */
}
.login-bg {
  background-color: #f876de;
  background-image: linear-gradient(315deg, #f876de 0%, #b978fa 74%);

  /* background: #7f00ff;
  background: -webkit-linear-gradient(to right, #e100ff, #7f00ff);
  background: linear-gradient(to right, #e100ff, #7f00ff);

  background-color: #f0ecfc;
  background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%); */
}

/*======== Terms and privacy Page =========*/

.brand-text {
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: #424242;
}
.page-content h1:first-of-type {
  font-weight: 700;
  font-size: 56px;
}
.page-content h1 {
  margin-top: 40px;
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
}
.page-content p {
  margin-top: 24px;
  display: block;
  font-weight: 350;
  font-size: 16px;
  line-height: 28px;
  color: #716767;
}
.page-content p b {
  color: #000;
  font-weight: 600;
}
.page-content p:first-of-type {
  font-weight: 650;
  color: #424242;
}

@media (max-width: 992px) {
  .page-content h1:first-of-type {
    font-size: 32px;
  }
}
